*{
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

body{
    background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
}

p{
    font-family: 'Sansita Swashed', cursive;
    font-size: large;
    color: #1e272e;
}

span{
    color: #ECAE42;
}

footer{
    width: 90%;

    color: white;
    font-size: 24px;
}

.cabecera{
    width: 90%;
    
}

.logo{

    height: 250px;
}

.navegacion{
    width: 90%;
    position: sticky;
}

.nosotros{
    width: 90%;
    height: 700px;

    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.servicios{
    width: 90%;
    height: 700px;

    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;

}

.contacto{
    width: 90%;
    height: 500px;

    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

.iconos{
    flex-direction: row;
}

.iconos img{
    padding-right: 10px;
}